@import './dragDropContent.scss';

.dropZone {
  position: relative;
  width: 100%;
  padding-bottom: calc(100% * (9 / 16));
  background-color: var(--drop-zone-bg);
  border: 1px dashed var(--border-color);
}

.dropZoneActive {
  background-color: var(--drop-zone-active-bg);
}
